@import "../../styles/styles.scss";

.standardButton {
  @include normal-button-font;

  padding: 16px 32px;
  border-radius: 4px;
  width: 50%;
}

// future styling
.primary {
}

.secondary {
}

.cancel {
}