@use "../../../styles/styles.scss";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.title {
  font-family: styles.$font-big-caslon;
  font-weight: 500;
  font-size: 37px;
  color: styles.$header-color;
}

.stepIndicator {
  font-family: styles.$font-big-caslon;
  font-size: 24px;
  font-weight: 500;
  color: styles.$header-color;
}

.description {
  font-family: styles.$font-avenir-lt-std;
  font-size: 15.5px;
  font-weight: 600;
  color: styles.$normal-text-color;
  margin-top: 5px;
}
