@import "../../../styles/styles.scss";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  flex-direction: column;
  margin-bottom: 2em;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.title {
  font-family: $font-big-caslon;
  font-size: 32px;
  color: $header-color;
}

.stepIndicator {
  font-family: $font-big-caslon;
  font-size: 24px;
  color: $header-color;
}

.description {
  font-family: $font-avenir-lt-std;
  font-size: 15.5px;
  color: $normal-text-color;
  margin-top: 5px;
}
