@import "../../../styles/styles";

.subtitle {
  font-weight: 500;
  color: $header-secondary-color;
  font-family: $font-big-caslon;
  font-size: 20px;
  margin-bottom: 8px;
}

.description {
  color: $description-color;
  font-family: $font-avenir-lt-std;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
