@use "../../styles/styles.scss" as stl;

.wyTextFieldContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.labelContainer {
  display: flex;
  align-items: center;
  font-family: stl.$font-big-caslon;
  font-size: 16px;
  color: stl.$header-color;
  font-weight: 500;
  margin-bottom: 5px;

  .required {
    color: stl.$error-color;
    margin-left: 2px;
  }

  .infoIcon {
    margin-left: auto;
    font-size: 14px;
    color: stl.$border-color;
    cursor: pointer;
  }
}

.inputField {
  @include stl.normal-input-style;

  .MuiOutlinedInput-root {
    &:hover fieldset {
      border-color: stl.$header-color;
    }

    input::placeholder {
      color: stl.$secondary-text-color;
      font-size: 14px;
    }
  }
}

.otpInput {
  border: 1px solid stl.$input-special-border;
  border-radius: 8px;

  & > input {
    text-align: center;
    width: clamp(40px, 10vw, 80px);
    height: 80px;
    border: none;
    @include stl.big-input-text-style; // ✅ Use the namespace
  }
}
