@import "../../styles/styles.scss";

.phoneInputContainer {
  position: relative;
  width: 100%;
}

.phoneField {
  @include normal-input-style;
  background: $input-bg;
  font-family: $font-avenir-lt-std;
  color: $text-color;
  padding-left: 50px;
  border: none;

  &:focus {
    border: none;
  }

}

.flagButton {
  position: absolute;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  //left: -40px; //sometimes the flag icon is overlapping the input field
}

.flagIcon {
  width: 28px;
  height: 20px;
  border-radius: 4px;
}

.countrySelectContainer {
  position: absolute;
  margin-top: 5px;
  left: 0;
  width: 100%;
  background: $input-bg;
  z-index: 10;
}
