@import "../../../styles/styles.scss";

.subtitle {
  font-family: $font-big-caslon;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  color: $header-secondary-color;
}

.description {
  font-family: $font-actor;
  font-weight: 400;
  font-size: 16px;
  color: $secondary-text-color;
  margin-bottom: 16px;
}

.otpContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
}

.resendText {
  font-family: $font-avenir-lt-std;
  font-weight: 600;
  font-size: 16px;
  color: $secondary-text-color;
  margin-top: 10px;

  a{
    color: inherit;
  }
}

