@import "../../../styles/styles";

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 100%;
  //max-width: 400px;
}

.backButton {
  border-color: $primary-action-color;
  color: $primary-action-color;
}

.nextButton {
  background-color: $primary-action-color;
  color: white;
}
