@import "../../styles/styles.scss";

.checkboxGroup {
  display: flex;
  align-items: center;
  font-family: $font-avenir-lt-std;
  font-size: 16px;
  font-weight: 600;
  color: $normal-text-color;
  margin: 0 10px;

  .MuiRadio-root {
    color: $border-color;
  }

  .Mui-checked {
    color: $primary-action-color !important;
  }
}
