@use "../../styles/styles.scss";

.checkboxGroup {
  display: flex;
  align-items: center;
  font-family: styles.$font-avenir-lt-std;
  font-size: 16px;
  font-weight: 600;
  color: styles.$normal-text-color;
  margin: 0 10px;

  .MuiRadio-root {
    color: styles.$border-color;
  }

  .Mui-checked {
    color: styles.$primary-action-color !important;
  }
}
