@import "../../styles/styles.scss";

.pageTitle {
    font-family: $font-big-caslon;
    font-size: 22px;
    //font-weight: bold;
    color: $header-color;

  border-bottom: 2px black solid;
  width: fit-content;
}